body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border-radius: 100px;
}

@keyframes card {
  to {background-color: yellow;}
}

.card {
    width: 200px;
    animation-name: card;
    animation-duration: 4s;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: #9067B5;
    color: #22006C;
    border: 6px solid #003566;
    border-radius: 10px;
    text-shadow: 1px 3px 7px #121212;
    box-shadow: 1px 3px 5px #121212;
}

.name {
    transition: color 0.3s;
}

.name:hover {
    color: #3D44AE;
}